@using TC_APP.Models
@model List<Contato>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Contatos</h6>
                </div>
            </div>

            <div class="card-body">

                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { Id = "login-form" }))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nome</label>
                                @Html.Editor("Contato.Nome", new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome", type = "text" } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nome</label>
                                @Html.Editor("Contato.Email", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", type = "text" } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nome</label>
                                @Html.Editor("Contato.DDD", new { htmlAttributes = new { @class = "form-control", @placeholder = "DDD", type = "text" } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nome</label>
                                @Html.Editor("Contato.Regiao.Descricao", new { htmlAttributes = new { @class = "form-control", @placeholder = "Região", type = "text" } })
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Filtrar</button>
                    </div>
                }


                <div class="py-4">
                    <table class="table table-flush datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>DDD</th>
                                <th>Telefone</th>
                                <th>Região</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>#@item.Id</td>
                                    <td>@item.Nome</td>
                                    <td>@item.Email</td>
                                    <td>@item.DDD</td>
                                    <td>@item.Telefone</td>
                                    <td>@item.Regiao?.Descricao</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var languageDataTable = {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ ate _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ <span>resultados por pagina </span>",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "<i class='fas fa-angle-right'></i>",
                    "sPrevious": "<i class='fas fa-angle-left'></i>",
                    "sFirst": "<i class='fas fa-angle-left'></i><i class='fas fa-angle-left'></i>",
                    "sLast": "<i class='fas fa-angle-right'></i><i class='fas fa-angle-right'></i>"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }

            var $dtBasic = $('.datatable');
            function init($this) {

                var options = {
                    keys: !0,
                    language: languageDataTable,
                };

                var table = $this.on('init.dt', function () { }).DataTable(options);
            }

            if ($dtBasic.length)
                init($dtBasic);
        });

    </script>
}
